*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Client/build/
/MatchBox.Communication/nbproject/private/
/MatchBox.Server/nbproject/private/
/MatchBox.Communication/build/
/MatchBox.Server/build/
/MatchBox.Client/build/
/MatchBox.Client/nbproject/private/
/MatchBox.Communication/dist/
MatchBox.Client/nbproject/private/private.xml